<!DOCTYPE html>
{% load highlight %}
<html lang="en">
{% include "head.html" %}
<body>
  <!--导航栏，带搜索表单-->
  <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-collapse" data-toggle="collapse" data-target="#user_info">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </button>
        <a href=".." class="navbar-brand">Jelly</a>
      </div>
      <div class="collapse navbar-collapse" id="user_info">
        <ul class="nav navbar navbar-right">
        </ul>
      </div>
    </div>
  </nav> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1">
        <form class="form-inline" action="/search" method="get">
          <input type="search"  id="q" name="q" class="search-in">
          <input type="submit" id="query_btn" value="Search">
        </form>
      </div>
    </div>
  </div>
  <!--搜索结果展示模块-->

  <section class="result">
    {% if query %}
    <hr>
    {% for result in page.object_list %}
    <div class="oneofresults">
      <div class="result-head">
        <a href="{{ result.url }}" id="{{ result.id }}">{% highlight result.title with query css_class "found" %}</a>
      </div>
      <div class="result-body">
        <p>{% highlight result.text with query css_class "keyword" %}</p>
      </div>
      <div class="result-footer">
        {% if result.download == 1 %}
        <span>含下载&nbsp;</span>
        {% endif %}
        <span>{{ result.site }}&nbsp;</span>
        <span>{{ result.pubtime }}&nbsp;</span>
        <span>浏览：{{ result.glances }}</span>
      </div>

    </div>
    {% empty %}
    <p>没有结果发现</p>
    {% endfor %}
  </section>
  <!--右边推荐模块-->
  <aside class="recommend">
    fdafd
  </aside>

{% if page.has_previous or page.has_next %}
    <div align="center">
        {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}<<<{% if page.has_previous %}</a>{% endif %}
           <select class="" value="{{ i }}">
               {% for i in paginator.page_range %}
                <option href="?q={{ query }}&page={{ i }}">{{ i }}</option>
               {% endfor %}
           </select>
        {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}>>>{% if page.has_next %}</a>{% endif %}<i class="fa fa-arrow-right" ></i>
    </div>
{% endif %}
{% else %}
{# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
</body>
</html>
