<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
  {% include "nav-with-form.html" %}
  <!-- 登录以及注册框 -->
  <div class="linkin">
    <!-- 登录表单 -->
    <ul class="sign">
      <li>Signin</li>
      <li>Signup</li>
    </ul>
    <div class="signin">
      <form class="" action="" method="post">
        <input type="text" name="" value="" placeholder="User">
        <input type="password" name="" value="" placeholder="Passwd">
        <input type="submit" name="" value="Signin">
      </form>
    </div>

    <!-- 注册表单 -->
    <div class="signup">
      <form class="" action="" method="post">
        
      </form>
    </div>
  </div>
</body>
{% include "footer.html" %}
</html>
